# Copyright (c) 2009-2012, Code Aurora Forum. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of Code Aurora nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on boot

# docomo virus scan - set permission
    chmod 0700 /system/etc/mcafee
    chmod 0600 /system/etc/mcafee/mfescand.conf

# FeliCa
    mkdir /efs/FeliCaLock 0770 system felicalock

# isdbt ownership
    chown system system /dev/isdbt
    chmod 0666 /dev/isdbt
    chown system system /dev/s3c-tsi
    chmod 0660 /dev/s3c-tsi
#    chown system system /dev/isdbtdata
#    chmod 0666 /dev/isdbtdata


# JPN: For MobileTV [ISDBT]
    mkdir /data/atsc-mh 0775 system system
    mkdir /data/one-seg 0775 system system
    chown system system /data/atsc-mh
    chown system system /data/one-seg
    chmod 0775 /data/atsc-mh
    chmod 0775 /data/one-seg
	chmod 0775 /efs/imei/.nvdevicekey.info

# JPN: For MobileTV [ISDBT]
service nexplayer /system/bin/nexprocess
	class main
    user system
    group system audio camera graphics inet net_bt net_bt_admin net_raw sdcard_rw radio

service mobileTV /system/bin/broadcastProcessObserver
	class main
    user system
    group system audio camera graphics inet net_bt net_bt_admin net_raw sdcard_rw radio

# remote lock
service init_devadmin /system/vendor/bin/init_devadmin.sh
     user system
     group system
     oneshot
	 
#r.mewar (Rohit) 
service servicemanager /system/bin/servicemanager
    class core
    user system
    group system
    critical
    onrestart restart zygote
    onrestart restart media
    onrestart restart surfaceflinger
    onrestart restart drm
	onrestart restart TvoutService_C     

# docomo virus scan - start daemon
service mfescand /system/bin/mfescand 
     class main
     socket mfescand stream 600 system system 

# for felica
service mfsc /system/bin/mfsc
    class main
    user root
    group system
    oneshot
    
service mfdp /system/bin/mfdp
    class main
    user root
    group system
    oneshot

# for felica end

